<!DOCTYPE html>
<html>
  <head>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
   <h1> Need Directions? Please use our maps</h1>
   <div id='map' width="100%" style='height:400px'></div>
   <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibWlzc213YXVyYTQiLCJhIjoiY2w0eTYycTFsMjBqMTNjbnU3ZDRlazUzeiJ9.746pb3AD9Kc39qSqZm8nMQ';
    var map = new mapboxgl.Map({
     container: 'map',
     style: 'mapbox://styles/mapbox/streets-v10',
    });
   </script>
  </body>
</html>